@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root{    
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);

    --Young-Serif: "Young Serif", serif;
    --Outfit: "Outfit", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Outfit);
    
    
}

/*
border: solid 1px black;
*/

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Eggshell);
}

.conteiner{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 740px;
    margin: 100px;
    padding: 40px;
    background-color: var(--White);
    border-radius: 24px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info img {
    width: 100%;
    border-radius: 12px;
}

.info__description h1 {
    font-size: 40px;
    font-weight: 400;
    font-family: var(--Young-Serif);
    color: var(--Dark-Charcoal);
    margin-bottom: 14px;
}

.info__description p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--Wenge-Brown);
}

.preparation{
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: var(--Rose-White);
    padding: 28px;
    border-radius: 12px;
}

.preparation-title{
    font-weight: 600;
    font-size: 20px;
    color: var(--Nutmeg);
}

.preparation ul{
    display: flex;
    flex-direction: column;
    list-style: inside;
    gap: 12px;
    margin-left: 8px;
}

.preparation ul li {
    font-weight: 400;
    font-size: 12px;
}

.preparation ul li span{
    font-size: 16px;
    margin-left: 16px;
}

.preparation ul li span strong {
    color: var(--Wenge-Brown);
}

.ingredients{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.title {
    font-family: var(--Young-Serif);
    color: var(--Dark-Raspberry);
    font-size: 28px;
    font-weight: 400;
}
.ingredients ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: square inside;
    margin-left: 8px; 
}

.ingredients ul li {
    font-size: 12px;
    font-weight: 400;
}

.ingredients ul li span{
    margin-left: 12px;
    font-size: 16px;
}

.instructions {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.instructions ol {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-left: 24px;
}

.instructions ol li strong {
    color: var(--Wenge-Brown);
}